$colorDark: rgb(244,111,33);
$size:50;
h3{

    background-color: $colorDark;
}

h2{

    background-color:if(2+2==5,cyan,green);
}

.c1{

    @if 1+1==3 {border:1px dashed red;}
    @if 3 >2   {border:3px solid salmon;}
    @if null {border:4px double blue;}
}
#p1{
@if $size > 40 {
    color:brown;
    font-size: 3rem;
}
@else if $size >= 20{
    color:green;
    font-size: 2rem;
}}

body{

margin:1;
padding:0.5;
font-family: 'Times New Roman', Times, serif;
font-size: 1.5rem;

}

p{

    padding:10px 12px;

    margin:1px;
    color:pink;
}
//variables are declared here 
$roseColor:if(true,yellow,blue);
$jasmineColor:if(false,papayawhip,darksalmon);
$lotusColor:if(6>3,purple,aqua);
p:nth-of-type(1){
    background-color: $roseColor;
    @if(lightness($roseColor) > 50%){
         border:1px solid blue;
    }
    @else{

        border:2px dashed deeppink;
    }
}

p:nth-of-type(2){
 @if 2+2==4 {background-color: $jasmineColor;}   
 @if 6 >5 {border: 1px dotted $lotusColor;}
 @if true{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

}

